#config-overlay {
    margin: .5rem 0;
    text-align: center;
}

.form-control {
    margin: .5rem 0;
}

.form-control label {
    display: block;
    margin-bottom: 1rem;
    font-weight: bold;
}

.form-control input {
    font: inherit;
    border: 1px solid rgb(100, 97, 97);
    border-radius: 4px;
    width: 15rem;
    margin: .1rem;
}

#game-config {
    width: 90%;
    max-width: 40rem;
    margin: 3rem auto;
    text-align: center;
}

#game-config ol {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

#game-config li {
    margin: 1rem;
    padding: 1rem;
    width: 50%;
    background-color: rgb(90, 128, 150);
    border-radius: 4px;
    box-shadow: 0 1px 4px rgba(59, 111, 141, 0.2);
}

#game-config h2 {
    font-size: 1rem;
    margin: .5rem 0;
}

#game-config h3 {
    font: 1.5rem;
    margin: .5rem 0;
    color: rgb(172, 208, 236);
}

.player-symbol {
    font-size: 2rem;
    font-weight: bold;
    color: rgb(79, 250, 227);
    margin: .5rem 0;
}

.error input {
    border-color: rgb(136, 2, 2);
    color: red;
    background-color: rgb(110, 72, 72);
}

.error lable {
    color: red;
}