#active-game {
    text-align: center;
    margin: 2rem 0 5rem 0;
    display: none;
}

#game-over {
    max-width: 40rem;
    width: 90%;
    margin: auto;
    padding: 1rem 2rem;
    color: whitesmoke;
    background-color: rgb(90, 128, 150);
    box-shadow: 0 2px 8px rgba(90, 128, 150, .2);
    border-radius: 4px;
    display: none;
}

#game-over h3 {
    font-size: 2.5rem;
    margin: 0.5rem 0;
}

#active-playername {
    font-weight: bold;
    color: rgb(95, 253, 245);
}

#game-bord {
    list-style-type: none;
    margin: 1rem 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, 6rem);
    grid-template-rows: repeat(3, 6rem);
    justify-content: center;
    gap: .5rem;
}

#game-bord li {
    color: whitesmoke;
    background-color: rgb(90, 128, 150);
    border-radius: 40px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

#game-bord li:hover {
    background-color: rgb(95, 253, 245);
}

#game-bord li.disabled {
    background-color: rgb(95, 253, 245);
    color: rgb(1, 21, 46);
    cursor: default;
    font-size: 4rem;
}