body {
    margin: 0;
    font-family: 'Open-Sans', sans-serif;
    color: rgb(41, 43, 44);
    background-color: rgb(247, 239, 247);
}

#main-header {
    background-color: rgb(27, 69, 87);
    color: white;
    padding: 2rem 5%;
    text-align: center;
}

.btn {
    font: inherit;
    padding: 0.5rem 1.5rem;
    background-color: rgb(27, 69, 87);
    border: 1px solid rgb(27, 69, 87);
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

.btn-alt {
    background-color: transparent;
    border-color: transparent;
    color: rgb(27, 69, 87);
}

.btn:hover {
    background-color: rgb(10, 112, 190);
    border-color: rgb(10, 112, 190);
}

.btn-alt:hover {
    background-color: rgb(201, 217, 252);
    border-color: transparent;
}